html{
    max-width: max-content;
}
body{
    background-color: rgb(61, 61, 61);
    display: block;
    border:0;
    margin: 0;
    min-width: 400px;
    max-width: 100%;
}


header{
    display: block;
    background-size:cover;
    background-image: url(majestic-mountain-peak-tranquil-winter-landscape-generated-by-ai.jpg);
    background-position:center;
    overflow:  hidden;
    max-width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 255);
}

/* header h1 corresponde a la caja que contiene LittleDuchi*/
header h1{
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 3vh;
    padding: 8vh;
    overflow:visible;
    text-align: center;
    max-width: 100%;
    color: rgb(255, 255, 255);
    font-size: clamp(7vh, 2vw, 10vh);
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: 
     "ROND" 0;
}

/*La clase "contenedorPerfil" corresponde a la caja que contiene la clase PERFIL2 e imagen perfil*/
.contenedorPerfil{   
    display:block;
    border-radius: 2vh;
    margin-top: 3vh;
    height: auto;
    min-width: 200px;
    max-width: 100%;
    max-height: none;
    overflow:hidden;
    background-color: rgb(61, 61, 61);
    margin: 3vh;
    margin-bottom: 0vh;
    transition:ease-in-out 750ms;
}
.contenedorPerfil hr{
    margin: 3vh;
}

.contenedorPerfil:hover{
    background-color: rgb(50, 48, 48);
    color: aliceblue;
}
.contenedorPerfil img{
    align-self: center;
    display: block;
    border-radius: 50%;
    margin: 2vh;
    margin-top: 0vh;
    min-width: 50px;
    max-width: 300px;
    border: 1vh solid rgb(255, 255, 255);
    top: 0 ;
}

.PERFIL2{
    display:flex;
    min-width: 35px;
    max-height: auto;
    transition:ease-in-out 750ms;
}


#apartadoPerfil { 
    display: block;
    overflow: hidden;
    height: auto;
    min-width: 200px;
    border:10vh;
    border-radius: 2vh;
    text-align:left;
    }

.PERFIL #apartadoPerfil hr{
    margin: 3vh;
    margin-left: 1vh;
}
/*Estilo de los titulos de los apartados*/
.subtitulo{
    padding: 1vh;
    margin-top: 2vh;
    margin: 2vh;
    color: rgb(255, 255, 255);
    font-size: 3.5vh;
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "ROND" 0; 
}

/*Estilo del contenedor que contiene los Estudios, contactos y gráficos*/

.table{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2vh;
    width: 100%;
    min-width: 200px;
}
.table-item { 
    overflow:visible;
    min-height: auto;
    min-width: 175px;
    max-width: 100%;
    border:10vh;
    border-radius: 2vh;
    margin: 3vh;
    text-align:left;
    transition:ease-in-out 750ms;

    }

.table-item hr{
    margin: 3vh;
}
.table-item:hover{
    background-color: rgb(50, 48, 48);
    color: aliceblue;
}

/*Iconos de contactos*/
.icon {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  
  .icon img {
    border-radius: 20%;
    margin:0vmin;
    min-width: fit-content;
    max-width: max-content;
    height:50px ;
    margin: 5vw;
    }

/* Para pantallas pequeñas (menos de 600px de ancho) */
@media (max-width: 600px) {
    .icon img {
        margin: 2vw; /* Margen del 5% del ancho de la ventana */
    }
}

/* Para pantallas muy pequeñas (menos de 400px de ancho) */
@media (max-width: 400px) {
    .icon img {
        margin: 2vw; /* Margen del 2% del ancho de la ventana */
    }
}


/*Contiene el estilo de los textos de los apartados*/
.texto {
    padding: 1vh;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: visible;
    font-size: clamp(12px, 2vw, 24px);
    margin: 2vh;
    text-align:left;
    color: aliceblue;
    min-width: 100px;
    min-height: auto;
    word-wrap: break-word; /* Permite la división de palabras largas */ 
    hyphens:auto;
}

/*Estilo de proyectos*/
.contenedorProyectos{
    display:block;
    border-radius: 2vh;
    margin-top: 3vh;
    height: auto;
    min-width: 300px;
    max-width: 100%;
    max-height: none;
    overflow:hidden;
    background-color: rgb(61, 61, 61);
    margin: 3vh;
    margin-bottom: 2vh;
    transition:ease-in-out 750ms;
}

.contenedorProyectos:hover{
    background-color: rgb(50, 48, 48);
    color: aliceblue;


}
.inProyectos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2vh;
    width: 100%;
    min-width: 200px;
}

.contenedorProyectos hr{
    margin: 3vh;
}
#Proyectos{
    padding: 1vh;
    margin-top: 2vh;
    margin: 3vh;
    color: rgb(255, 255, 255);
    font-size: 4vh;
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "ROND" 0; 
    text-align: center;
}
