body,html{
    background-color: rgb(61, 61, 61);
    display: block;
    border:0;
    margin: 0;
    min-width: 500px;
}


header{
    display: block;
    background-size:cover;
    background-image: url(majestic-mountain-peak-tranquil-winter-landscape-generated-by-ai.jpg);
    background-position:center;
    overflow: hidden;
}

/* TITULO corresponde a la caja que contiene LittleDuchi*/
.Titulo{ 
    background-color: rgba(0, 0, 0, 0.5);
    margin: 3vh;
    padding: 5vh;
    overflow:visible;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 4vh;
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: 
     "ROND" 0;
}

/*La clase "contenedorPerfil" corresponde a la caja que contiene la clase PERFIL2 e imagen perfil*/
.contenedorPerfil{   
    display:inline-block;
    border-radius: 2vh;
    margin-top: 3vh;
    height: auto;
    min-width: 200px;
    max-width: auto;
    max-height: none;
    overflow:hidden;
    background-color: rgb(61, 61, 61);
    margin: 3vh;
    margin-bottom: 0vh;
    transition:ease-in-out 750ms;
}
.PERFIL2{
    display:flex;
    min-width: 35px;
    max-height: auto;
    transition:ease-in-out 750ms;
}

.contenedorPerfil hr{
    margin: 3vh;
}

.contenedorPerfil:hover{
    background-color: rgb(50, 48, 48);
    color: aliceblue;
}
.contenedorPerfil img{
    align-self: center;
    display: block;
    border-radius: 50%;
    margin: 2vh;
    margin-top: 0vh;
    min-width: 50px;
    max-width: 300px;
    border: 1vh solid rgb(255, 255, 255);
    top: 0 ;
}

#apartadoPerfil { 
    display: block;
    overflow: hidden;
    height: auto;
    min-width: 200px;
    border:10vh;
    border-radius: 2vh;
    text-align:left;
    }
#apartadoPerfil:hover{
    overflow: auto;
}
.PERFIL #apartadoPerfil hr{
    margin: 3vh;
    margin-left: 1vh;
}
/*Estilo de los titulos de los apartados*/
.subtitulo{
    padding: 1vh;
    margin-top: 2vh;
    margin: 2vh;
    color: rgb(255, 255, 255);
    font-size: 4vh;
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "ROND" 0; 
}

/*Estilo del contenedor que contiene los Estudios, contactos y gráficos*/

.table{
    display:block;
}
.table-item { 
    display: inline-block;
    overflow:hidden;
    min-height: auto;
    min-width: 100px;
    max-width: 50%;
    border:10vh;
    border-radius: 2vh;
    background-color: rgb(61, 61, 61);
    margin: 3vh;
    text-align:left;
    transition:ease-in-out 750ms;
    }

.table-item hr{
    margin: 3vh;
}
.table-item:hover{
    background-color: rgb(50, 48, 48);
    color: aliceblue;
    overflow: auto;
}

/*Iconos de contactos*/
.icon {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  
  .icon img {
    border-radius: 20%;
    margin: 3vh;
    margin-top: 0vh;
    min-width: 40px;
    max-width: 60px;
    height:50px ;
  }


/*Contiene el estilo de los textos de los apartados*/
.texto {
    padding: 1vh;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: visible;
    font-size: clamp(12px, 2vw, 24px);
    margin: 2vh;
    text-align:left;
    color: aliceblue;
    min-width: 200px;
    min-height: auto;
}
  